:root {
  --primary-color: #34cb79;
  --title-color: #293845;
  --text-color: #909ea9;
  --navbar-bg: #809bb1;
  --navbar-border: #163861;
  --navbar-text: #4c5d6c;
  --menu-active-btn-bg: #83cba5;
  --menu-active-border-btn-bg: #00a34d;
  --menu-inactive-btn-bg: #dfe5ec;
  --menu-inactive-border-btn-bg: #9eadba;
  --menu-logout-btn-bg: #e9a2ad;
  --menu-logout-border-btn-bg: #d3455b;
  --placeholder-text: #c8c8c8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #dfe5ec;
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
}

html {
  scroll-behavior: smooth;
}

body,
input,
textarea,
button {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

button,
a {
  cursor: pointer;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
  font-family: Ubuntu;
}
