:root {
  --darkest-purple: #220f33;
  --title-color: #e06b50;
  --text-color: #583874;
  --navbar-bg: #583874;
  --navbar-border: #220f33;
  --navbar-text: #e0e1e2c9;
  --menu-text-color: #fafafa;
  --menu-active-btn-bg: #e06b50;
  --menu-inactive-btn-bg: rgba(88, 56, 116, 0.8);
  --menu-logout-btn-bg: #d3455b;
  --placeholder-text: #69527e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fafafa;
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
}

html {
  scroll-behavior: smooth;
}

body,
input,
textarea,
button {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

button,
a {
  cursor: pointer;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
  font-weight: 600;
  font-family: Ubuntu;
}
