.dropdown-container {
  height: 3.5rem;
  margin: 0.5rem 0;
  padding: 0.5rem 0 0;
  background: #fafafa;
}

/* The container of the list */
.dropdown-content {
  /* background: #127635 !important; */
  height: 2.5rem;
  z-index: 2;
}

/* This is the list of items */
.panel-content {
  /* background: #127635 !important; */
}

.selected {
  background: var(--navbar-bg) !important;
  color: var(--navbar-text);
}

input {
  height: 2rem;
  /* color: var(--darkest-purple); */
}
